.star-container {
    width: auto;
}


@media only screen and (max-width: 1024px) {

    .red-star {
        width: 35px;
        height: 35px;
    }

    .empty-star {
        width: 35px;
        height: 35px;
    }
}





@media only screen and (max-width: 768px) {

    .red-star {
        width: 20px;
        height: 20px;
    }
    .empty-star {
        width: 20px;
        height: 20px;
    }
}