@charset 'utf-8';


// Importation des feuilles de styles des différentes pages et composants
@use './assets/utilities/font';
@use './assets/utilities/variables' as *;


@use './pages/ErrorPage/errorpage';
@use './pages/About/about';
@use './pages/Rent/rent';
@use './pages/Home/home';

@use './components/Header/header';
@use './components/Banner/banner';
@use './components/Footer/footer';
@use './components/Card/card';
@use './components/Collapse/collapse';
@use './components/Slide/slide';
@use './components/Tags/tags';
@use './components/Host/host';
@use './components/Rating/rating';
@use './components/Rentlabel/rentlabel';



* {
    margin: 0 ;
}






#root {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-type;


}





