@use '../../assets/utilities/variables' as *;


// Conteneur principal
.slide-container {
    position: relative;
    width: 100%;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondarycolor;

// Compteur
    &__count {
            position: absolute;
            top: 88%;
        }


}


//Conteneur de l'image
.slide-main {
    width: 100%;
    height: 100%;



    &__img {
        width: 100%;
        border-radius: 25px;
        height: 415px;
        object-fit: cover;


    }

    &__arrow{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);



    }

        &__arrowL {
            width: 6%;
        }

        &__arrowR {
            width: 6%;
        }


}


/* Medium devices (tablets, less/equal than 1024px) */

@media only screen and (max-width: 1024px) {

    // Gestion de la hauteur du slider
    .slide-container {
        height: 225px;

        &__count {
            display: none;
        }
    }

    .slide-main {

        // Gestion de la taille des flèches
        &__img {
            height: 225px;
        }

        &__arrowL {
            width: 6%;
        }

        &__arrowR {
            width: 6%;
        }

    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 768px) */

@media only screen and (max-width: 768px) {
    // Gestion de la hauteur du slider
    .slide-container {
        height: 225px;
    }

    .slide-main {

        // Gestion de la taille des flèches
        &__img{
            height: 225px;
        }

        &__arrowL {
            width: 10%;
        }
                &__arrowR {
                    width: 10%;
                }

    }
}